# Train_test_split

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [4]:
data=pd.DataFrame({
    "study_hours":[1,2,3,4,5,6,7,8],
    "marks":[35,40,50,55,65,70,80,85]
})
data

   study_hours  marks
0            1     35
1            2     40
2            3     50
3            4     55
4            5     65
5            6     70
6            7     80
7            8     85

In [5]:
x=data[["study_hours"]]  #input
y=data["marks"] #output
x
y

0    35
1    40
2    50
3    55
4    65
5    70
6    80
7    85
Name: marks, dtype: int64

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=40)   
#here test_size is 20% sp it take 80% for train if we take train_test=0.80 and it take 20% to test automatically. 
# rando  state is used to suffle the data

In [7]:
x_train   # index and study_hours

   study_hours
2            3
4            5
0            1
5            6
3            4
6            7

In [8]:
y_train #index and marks

2    50
4    65
0    35
5    70
3    55
6    80
Name: marks, dtype: int64

In [10]:
x_test

   study_hours
7            8
1            2

In [17]:
y_test

7    85
1    40
Name: marks, dtype: int64

In [19]:
x_train.shape

(6, 1)

In [21]:
x_test.shape

(2, 1)

In [23]:
y_train.shape

(6,)

# Real time databasets

In [26]:
diabetes=pd.read_csv(r"C:\Users\DELL\AppData\Local\Packages\5319275A.WhatsAppDesktop_cv1g1gvanyjgm\LocalState\sessions\93D83F2AA9AE0E0AD643F27D2E147B18B8A262CD\transfers\2026-01\heart-diseases datset.csv")
diabetes

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [31]:
diabetes.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [35]:
y=diabetes['chol']
y

0       212
1       203
2       174
3       203
4       294
       ...
1020    221
1021    258
1022    275
1023    254
1024    188
Name: chol, Length: 1025, dtype: int64

In [39]:
x=diabetes[["age","sex","cp","trestbps","chol","fbs","restecg","thalach"]]
x

      age  sex  cp  trestbps  chol  fbs  restecg  thalach
0      52    1   0       125   212    0        1      168
1      53    1   0       140   203    1        0      155
2      70    1   0       145   174    0        1      125
3      61    1   0       148   203    0        1      161
4      62    0   0       138   294    1        1      106
...   ...  ...  ..       ...   ...  ...      ...      ...
1020   59    1   1       140   221    0        1      164
1021   60    1   0       125   258    0        0      141
1022   47    1   0       110   275    0        0      118
1023   50    0   0       110   254    0        0      159
1024   54    1   0       120   188    0        1      113

[1025 rows x 8 columns]

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=2529)

In [47]:
x_train

     age  sex  cp  trestbps  chol  fbs  restecg  thalach
529   69    1   3       160   234    1        0      131
758   46    0   1       105   204    0        1      172
676   60    1   0       130   253    0        1      144
646   47    1   2       108   243    0        1      152
461   48    1   2       124   255    1        1      175
..   ...  ...  ..       ...   ...  ...      ...      ...
584   55    1   0       132   353    0        1      132
943   65    1   0       120   177    0        1      140
740   44    1   2       140   235    0        0      180
399   63    1   3       145   233    1        0      150
828   44    1   2       130   233    0        1      179

[820 rows x 8 columns]

In [49]:
y_train

529    234
758    204
676    253
646    243
461    255
      ...
584    353
943    177
740    235
399    233
828    233
Name: chol, Length: 820, dtype: int64

In [51]:
x_test

     age  sex  cp  trestbps  chol  fbs  restecg  thalach
181   64    1   3       110   211    0        0      144
855   46    1   1       101   197    1        1      156
413   70    1   0       130   322    0        0      109
363   53    1   2       130   246    1        0      173
900   61    1   3       134   234    0        1      145
..   ...  ...  ..       ...   ...  ...      ...      ...
226   49    1   2       118   149    0        0      126
270   43    1   0       110   211    0        1      161
856   68    0   2       120   211    0        0      115
956   49    0   0       130   269    0        1      163
173   39    0   2        94   199    0        1      179

[205 rows x 8 columns]

In [53]:
y_test

181    211
855    197
413    322
363    246
900    234
      ...
226    149
270    211
856    211
956    269
173    199
Name: chol, Length: 205, dtype: int64

In [55]:
x_train.shape

(820, 8)

In [57]:
y_train.shape

(820,)

In [59]:
x_test.shape

(205, 8)

In [61]:
y_test.shape

(205,)